.container {
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 600px;
}

h2 {
  text-align: center;
  color: #333;
}

select {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.reviewList {
  max-height: 500px;
  /* Adjust the max height as needed */
  overflow-y: auto;
  /* Enables vertical scrolling */
  padding: 10px;
  border: 1px solid #ddd;
  /* Optional, just to visualize the container */
  border-radius: 8px;
  /* Optional, for rounded corners */
  margin-top: 20px;
}


.reviewCard {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewCard p {
  margin: 0;
  color: #555;
  font-size: 14px;
}

.deleteButton {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.deleteButton:hover {
  background: #c0392b;
}