/* --------------------------------    Global    -------------------------------- */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.inputText {
    width: 85%;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
}

.inputText:focus {
    outline: none;
    border: 2px solid #f75d34;
}

.Btn {
    background: #f75d34;
    border: 1px solid orangered;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
    text-align: center;
    text-transform: none;
}

.Btn:hover {
    background-color: orangered;
    color: #000000a9;
    transition: 0.5s;
    border-radius: 8px;
}

.link {
    color: #303141;
    margin: 10px;
}

.link:hover {
    color: #000;
    text-decoration: underline;
    transition: 0.5s;
    font-weight: 500;
}

/* --------------------------------   HEADER   -------------------------------- */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.headerLinks {
    display: flex;
    gap: 25px;
}

.headerLinks li a {
    color: rgba(0, 0, 0, 0.637);
}

.headerLinks li a:hover {
    color: black;
    border-bottom: 1px solid black;
    transition: 1s;
    font-weight: 500;
}


/* --------------------------------   HOME   -------------------------------- */

.homeContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.img {
    border-radius: 25px;
}

.homeTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    color: #303141;
}

.homeHeading {
    font-family: serif;
    font-size: 40px;
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About {
    padding: 2rem;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    width: 55%;
}

/* --------------------------------   LOGIN MODAL   -------------------------------- */

.loginFp {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------   FOOTER   -------------------------------- */

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.footer-section {
    max-width: 275px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
}

.footer-text {
    color: #bbb;
}

.footer-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-link {
    color: #bbb;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-link:hover {
    color: white;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-icon {
    color: #bbb;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-icon:hover {
    color: white;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #bbb;
}


/* --------------------------------   HEADER   -------------------------------- */



/* --------------------------------   HEADER   -------------------------------- */



/* --------------------------------   HEADER   -------------------------------- */