/* --------------------------------    Global    -------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.inputText {
    width: 85%;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
}

.inputText:focus {
    outline: none;
    border: 2px solid #f75d34;
}

.Btn {
    background: #f75d34;
    border: 1px solid orangered;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
    text-align: center;
    text-transform: none;
}

.Btn:hover {
    background-color: orangered;
    color: #000000a9;
    transition: 0.5s;
    border-radius: 8px;
}

/* --------------------------------   HEADER   -------------------------------- */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerLinks {
    display: flex;
    gap: 25px;
}

.headerLinks li a {
    color: rgb(44, 44, 44);
}

.headerLinks li a:hover {
    color: black;
    border-bottom: 1px solid black;
}


/* --------------------------------   HOME   -------------------------------- */

.homeContainer {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.img {
    border-radius: 25px;
}

.homeTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    color: #303141;
}

.homeHeading {
    font-family: serif;
    font-size: 40px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------   LOGIN MODAL   -------------------------------- */

.loginFp {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fp {
    color: #303141;
    margin: 10px;
}

.fp:hover {
    color: #000;
    text-decoration: underline;
}

/* --------------------------------   HEADER   -------------------------------- */



/* --------------------------------   HEADER   -------------------------------- */



/* --------------------------------   HEADER   -------------------------------- */



/* --------------------------------   HEADER   -------------------------------- */