/* --------------------------------    Global    -------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.inputText {
    width: 85%;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
}

.inputText:focus {
    outline: none;
    border: 2px solid #f75d34;
}

/* --------------------------------     Header      -------------------------------- */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerLinks {
    display: flex;
    gap: 25px;
}

.headerLinks li a {
    color: rgb(44, 44, 44);
}

.headerLinks li a:hover {
    color: black;
    border-bottom: 1px solid black;
}


/* --------------------------------         -------------------------------- */